Aleksandra Tarkowska <a.tarkowska@dundee.ac.uk> <A.Tarkowska@dundee.ac.uk>
Aleksandra Tarkowska <a.tarkowska@dundee.ac.uk> <atarkowska@05709c45-44f0-0310-885b-81a1db45b4a6>
Aleksandra Tarkowska <a.tarkowska@dundee.ac.uk> <ola@05709c45-44f0-0310-885b-81a1db45b4a6>
Aleksandra Tarkowska <a.tarkowska@dundee.ac.uk> <Aleksandra Tarkowska@05709c45-44f0-0310-885b-81a1db45b4a6>
Andrew Patterson <ajpatterson@lifesci.dundee.ac.uk> Andrew J Patterson <workonly@qidane.com>
Andrew Patterson <ajpatterson@lifesci.dundee.ac.uk> <andrew@05709c45-44f0-0310-885b-81a1db45b4a6>
Andrew Patterson <ajpatterson@lifesci.dundee.ac.uk> <ajpatterson@05709c45-44f0-0310-885b-81a1db45b4a6>
Brian Loranger <bwzloranger@lifesci.dundee.ac.uk> <brain@05709c45-44f0-0310-885b-81a1db45b4a6>
Brian Loranger <bwzloranger@lifesci.dundee.ac.uk> <bwzloranger@05709c45-44f0-0310-885b-81a1db45b4a6>
Chris Allan <callan@glencoesoftware.com> <callan@blackcat.ca>
Chris Allan <callan@glencoesoftware.com> <callan@05709c45-44f0-0310-885b-81a1db45b4a6>
Chris Allan <callan@glencoesoftware.com> <cxallan@05709c45-44f0-0310-885b-81a1db45b4a6>
Colin Blackburn <c.blackburn@dundee.ac.uk> <C.Blackburn@dundee.ac.uk>
Colin Blackburn <c.blackburn@dundee.ac.uk> <colin@ximenes.org.uk>
Colin Blackburn <c.blackburn@dundee.ac.uk> <cblackburn@05709c45-44f0-0310-885b-81a1db45b4a6>
David Whitehurst <david@glencoesoftware.com> <david@05709c45-44f0-0310-885b-81a1db45b4a6>
Donald MacDonald <dzmacdonald@lifesci.dundee.ac.uk> <donald@05709c45-44f0-0310-885b-81a1db45b4a6>
Donald MacDonald <dzmacdonald@lifesci.dundee.ac.uk> <dzmacdonald@05709c45-44f0-0310-885b-81a1db45b4a6>
Harald Waxenegger <h.waxenegger@dundee.ac.uk> <harald.waxenegger@gmail.com>
Helen Flynn <h.flynn@dundee.ac.uk> <omehelen@gmail.com>
Jean-Marie Burel <j.burel@dundee.ac.uk> <j.burel@dundee.ac.uk>
Jean-Marie Burel <j.burel@dundee.ac.uk> <jburel@05709c45-44f0-0310-885b-81a1db45b4a6>
Josh Moore <josh@openmicroscopy.org> <j.a.moore@dundee.ac.uk>
Josh Moore <josh@openmicroscopy.org> <josh@glencoesoftware.com>
Josh Moore <josh@openmicroscopy.org> <josh.moore@gmx.de>
Josh Moore <josh@openmicroscopy.org> <jmoore@05709c45-44f0-0310-885b-81a1db45b4a6>
Joshua Ballanco <jballanc@glencoesoftware.com> Josh Ballanco <jballanc@glencoesoftware.com>
Joshua Ballanco <jballanc@glencoesoftware.com> <jballanc@gmail.com>
Mark Carroll <m.t.b.carroll@dundee.ac.uk> <M.T.B.Carroll@Dundee.ac.uk>
Mark Carroll <m.t.b.carroll@dundee.ac.uk> <mtbc@ls28101>
Paul van Schayck <polleke@gmail.com> pvc-local <polleke@gmail.com>
Riad Gozim <r.gozim@dundee.ac.uk> <rgozim@users.noreply.github.com>
Riad Gozim <r.gozim@dundee.ac.uk> <rgozim1@gmail.com>
Roger Leigh <r.leigh@dundee.ac.uk> <rleigh@debian.org>
Roger Leigh <r.leigh@dundee.ac.uk> <rleigh@dundee.ac.uk>
Roger Leigh <r.leigh@dundee.ac.uk> <rleigh@codelibre.net>
Sébastien Besson <sbesson@glencoesoftware.com> <seb.besson@gmail.com>
Will Moore <w.moore@dundee.ac.uk> <will@lifesci.dundee.ac.uk>
Will Moore <w.moore@dundee.ac.uk> <wmoore@05709c45-44f0-0310-885b-81a1db45b4a6>
Will Moore <w.moore@dundee.ac.uk> <will@05709c45-44f0-0310-885b-81a1db45b4a6>
